node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*.local

dist/
build/
out/
.next/
.cache/
coverage/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.postman_collection.json
*.postman_environment.json

*.css.map

*.log
logs/
*.sqlite
*.sqlite3

pids/
*.pid
*.seed

*.dump
*.sql
*.db

.render/

uploads/
tmp/
temp/
